# Git ignore file specific to multi-root devcontainer
# Ignore all folders
/*

# But do not ignore configuration folders and files
!/.devcontainer/
!/.vscode/
!/LocalDev.code-workspace
!/.gitignore
!/README.md

# Ignore project folders
# learning/
# ... any other workspace project folders


# --- OS Metadata ---
.DS_Store
Thumbs.db
